#{extends 'admin.html' /}
#{set title:"查询飞机场" /}
<div class="row">
    #{pager_header page:pages, prev:@{AdminAirport.list(pages.prev())}, next:@{AdminAirport.list(pages.next())}}
    <li>
        <form class="form-search" style="display:inline;" method="get">
            <input name="filter" type="text" class="input-medium search-query" placeholder="机场名">
            <button type="submit" class="btn">搜索</button>
        </form>
    </li>
    #{/pager_header}
    #{pager_header page:pages, prev:@{AdminAirport.list(pages.prev())}, next:@{AdminAirport.list(pages.next())}}
    #{/pager_header}
</div>


<script type="text/javascript">
require(["admin/active"],function(active){
    active("nav_airport_list")
})
</script>