#{extends 'admin.html' /}
#{set title:"查询飞机场" /}
#{if status=='created'}
<div id="info-banner" class="row">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>成功:</strong>
        新增飞机场
    </div>
</div>
#{/if}
<div class="row">
    %{lstUrl = play.mvc.Router.reverse("AdminAirport.list").url}%
    #{pager_header page:pages, action:lstUrl, offset:"span3 offset9"}
    <!--<li>-->
        <!--<form class="form-search" style="display:inline;" method="get">-->
            <!--<input name="filter" type="text" class="input-medium search-query" placeholder="机场名">-->
            <!--<button type="submit" class="btn">搜索</button>-->
        <!--</form>-->
    <!--</li>-->
    #{/pager_header}
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="span3">名称</th>
                    <th class="span3">国家</th>
                    <th class="span3">城市</th>
                    <th class="span3">操作</th>
                </tr>
            </thead>
            <tbody>
                %{for(item in pages.Data){}%
                <tr>
                    <td class="span3">${item.Name}</td>
                    <td class="span3">${item.getCountry()}</td>
                    <td class="span3">${item.getCity()}</td>
                    <td class="span3">
                        <div class="btn-group">
                            <a href="@{AdminAirport.edit(item.id)}" class="btn btn-info">修改</a>
                            <button class="btn btn-danger" data-id="${item.id}">删除</button>
                        </div>
                    </td>
                </tr>
                %{}}%
            </tbody>
        </table>
    </div>
    #{pager_header page:pages, action:lstUrl, offset:"span4 offset8"}
    <li>
        <a href="@{AdminAirport.create}" class="btn-info">新建</a>
    </li>
    #{/pager_header}
</div>


<script type="text/javascript">
require(["admin/active"],function(active){

    $(function (){
        $("table tbody tr td .btn-group .btn.btn-danger").click(function (){
            deleteID = $(this).attr("data-id")
            $.ajax({
                type:"delete",
                url:"@{AdminAirport.remove}"+deleteID,
                error:function (){
                    alert("由于外键引用不可以被删除")
                },
                success:function(p1,p2){
                    ok = JSON.parse(p1)
                    if(!ok){
                        alert("Request Error")
                    } else {
                        location.reload()
                    }
                }
            })
        })
        active("nav_airport_list")
        $("#info-banner .close").click(function(){
        $("#info-banner").text("")
        })
    })
})
</script>