#{extends 'admin.html' /}
#{set title:"查询飞机场" /}
#{if status=='created'}
<div id="info-banner" class="row">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>成功:</strong>
        新增飞机场
    </div>
</div>
#{/if}
<div class="row">
    #{pager_header page:pages, prev:@{AdminAirport.list(pages.prev())}, next:@{AdminAirport.list(pages.next())}}
    <li>
        <form class="form-search" style="display:inline;" method="get">
            <input name="filter" type="text" class="input-medium search-query" placeholder="机场名">
            <button type="submit" class="btn">搜索</button>
        </form>
    </li>
    #{/pager_header}
    #{pager_header page:pages, prev:@{AdminAirport.list(pages.prev())}, next:@{AdminAirport.list(pages.next())}}
    #{/pager_header}
</div>


<script type="text/javascript">
require(["admin/active"],function(active){
    active("nav_airport_list")
    $("#info-banner .close").click(function(){
        console.debug("On Click")
        $("#info-banner").text("")
    })
})
</script>