#{extends 'admin.html' /}
#{if model==null}
#{set title:"新建航线计划" /}
#{/if} #{else}
#{set title:"修改航线计划" /}
#{/else}
#{set 'moreScripts'}
#{js 'bootstrap.min.js' /}
#{js 'bootstrap-datetimepicker.min.js' /}
#{/set}
<div class="row">
    <form class="form-horizontal" method="POST" action="
    #{if model==null}
    @{AdminAirlinePlan.handleCreate}
    #{/if}#{else}
    @{AdminAirlinePlan.handleEdit}
    #{/else}
    ">
        <fieldset>
            <legend>
                #{if model==null}
                    新建航线计划
                #{/if}#{else}
                    修改航线计划
                #{/else}
            </legend>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#BasicSettings" data-toggle="tab">基本设置</a></li>
                    <li><a href="#StopoverSettings" data-toggle="tab">经停站</a></li>
                    <li><a href="#RepeatSettings" data-toggle="tab">重复</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="BasicSettings">
                        <div class="control-group">
                            <label for="Number" class="control-label">航线编号:</label>
                            #{if model==null }
                            <input type="text" id="Number" name="Number" placeholder="CZ00032"/>
                            #{/if}#{else}
                            <input type="text" id="Number" name="Number" value="${model.Number}"/>
                            #{/else}
                            <span class="help-inline"></span>
                        </div>
                        <div class="control-group">
                            <label for="LeaveTime" id="LeaveTimeLbl" class="control-label">起飞日期: </label>
                            <div id="datetimepicker" class="input-append">

                                <input data-format="yyyy/MM/dd hh:mm:ss" type="text" name="LeaveTime" id="LeaveTime"
                                #{if model!=null}
                                value="${model.getEditLeaveTime()}"
                                #{/if}
                                        />

                            <span class="add-on">
                              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                              </i>
                            </span>
                            </div>
                            <span class="help-inline"></span>
                        </div>
                        <div class="control-group">
                            <label for="FlyTime" id="FlyTimeLbl" class="control-label">飞行时间:</label>
                            #{if model==null}
                            <input type="number" id="FlyTime" name="FlyTime" min=1 placeholder="分钟"/>
                            #{/if}#{else}
                            <input type="number" id="FlyTime" name="FlyTime" min=1 value="${model.FlyTime}"/>
                            #{/else}
                            <span class="help-inline"></span>
                        </div>
                        <div class="control-group">
                            <label for="LeavePlace" id="LeavePlaceLbl" class="control-label">始发地:</label>
                            <select id="LeavePlace" name="LeavePlace">
                                %{for (ap in airports){}%
                                    #{if model!=null&& model.LeavePlace.id == ap.id}
                                        <option selected value="${ap.id}">${ap.getCountry()} ${ap.getCity()} ${ap.Name}</option>
                                    #{/if}#{else}
                                        <option value="${ap.id}">${ap.getCountry()} ${ap.getCity()} ${ap.Name}</option>
                                    #{/else}
                                %{}}%
                            </select>
                            <span class="help-inline"></span>
                        </div>
                        <div class="control-group">
                            <label for="ArrivePlace" id="ArrivePlaceLbl" class="control-label">目的地:</label>
                            <select id="ArrivePlace" name="ArrivePlace">
                                %{for (ap in airports) { }%
                                    #{if model!=null&&model.ArrivePlace.id==ap.id}
                                        <option selected value="${ap.id}">${ap.getCountry()} ${ap.getCity()} ${ap.Name}</option>
                                    #{/if}#{else}
                                        <option value="${ap.id}">${ap.getCountry()} ${ap.getCity()} ${ap.Name}</option>
                                    #{/else}
                                %{} }%
                            </select>
                            <span class="help-inline"></span>
                        </div>
                        <div class="control-group">
                            <label for="Company" id="CompanyLbl" class="control-label">所属航空公司:</label>
                            <select id="Company" name="Company">
                                %{for (com in companies){}%
                                    #{if model!=null&&model.Company.id==com.id}
                                        <option selected value="${com.id}">${com.Name}</option>
                                    #{/if}#{else}
                                        <option value="${com.id}">${com.Name}</option>
                                    #{/else}
                                %{}}%
                            </select>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="tab-pane" id="StopoverSettings">
                        <input type="hidden" name="Stopovers" id="Stopovers">
                        <div class="control-group" style="width: 300px;margin-left: 115px;">
                            <div id="StopoversInput" class="control-label" style="width: 300px;">
                                <div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>经停地名称</th>
                                            <th><a href="#" class="btn"><i class="icon-plus"></i></a> </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            %{if(model!=null&&model.StopoverPlaces.size()!=0){}%
                                                %{for(sp in model.StopoverPlaces){}%
                                                    <tr>
                                                        <td>${sp}</td>
                                                        <td><a href="#" class="btn"><i class="icon-minus"></i> </a> </td>
                                                    </tr>
                                                %{}}%
                                            %{}}%
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <span class="help-inline"></span>
                    </div>
                    <div class="tab-pane" id="RepeatSettings">
                        <div class="control-group" style="width:300px; margin-left:115px;">

                            <div class="tabbable">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#NoRepeat" data-toggle="tab">无重复</a></li>
                                    <li><a href="#WeekRepeat" data-toggle="tab">每周</a></li>
                                    <li><a href="#MonthRepeat" data-toggle="tab">每月</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="NoRepeat">
                                    </div>
                                    <div class="tab-pane" id="WeekRepeat">
                                        <label class="checkbox" for="week1"><input type="checkbox" id="week1">周一</label>
                                        <label class="checkbox" for="week2"><input type="checkbox" id="week2">周二</label>
                                        <label class="checkbox" for="week3"><input type="checkbox" id="week3">周三</label>
                                        <label class="checkbox" for="week4"><input type="checkbox" id="week4">周四</label>
                                        <label class="checkbox" for="week5"><input type="checkbox" id="week5">周五</label>
                                        <label class="checkbox" for="week6"><input type="checkbox" id="week6">周六</label>
                                        <label class="checkbox" for="week7"><input type="checkbox" id="week7">周日</label>
                                    </div>
                                    <div class="tab-pane" id="MonthRepeat">
                                        <input type="number" id="month" min="1" max="31" placeholder="日">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="Repeat" id="Repeat"
                                #{if model!=null}
                                    value=${model.Repeat}
                                #{/if}
                                    />
                        </div>
                    </div>
                </div>
            </div>
            #{if model!=null}
            <input type="hidden" value="${model.id}" name="editId" id="editId">
            #{/if}
            <input type="submit" value="创建" class="btn btn-info" style="margin-left:340px;">
        </fieldset>
    </form>
</div>

#{js 'admin/airlinePlan/create.js' /}