#{extends 'main.html' /}
<div class="row-fluid">
    <div class="span2 well">
        <ul class="nav nav-list" >
            <li id="nav_airport_description"><a href='@{NewsCenter.list(null,null,"airport_description",null,null,null)}'>机场介绍</a></li>
            <li id="nav_airline_info"><a href='@{NewsCenter.list(null,null,"airline_info",null,null,null)}'>航班信息</a></li>
            <li id="nav_airport_resource"><a href='@{NewsCenter.list(null,null,"airport_resource",null,null,null)}'>机场资源</a></li>
            <li id="nav_property_resource"><a href='@{NewsCenter.list(null,null,"property_resource",null,null,null)}'>物业资源</a></li>
            <li class="divider"></li>
            <li id="nav_subscribe"><a href="@{NewsCenter.subscribe}">订阅新闻</a></li>
        </ul>
    </div>
    <div class="span8 offset1">
        #{doLayout /}
    </div>
</div>