#{extends 'main.html' /}
<div class="row-fluid">
    <div class="span3 well">
        <ul class="nav nav-list" >
            <li class="nav-header">新闻中心</li>
            <li ><a href="#">机场信息</a></li>
            <li><a href="#">航班信息</a></li>
            <li><a href="#">航班资源</a></li>
            <li><a href="#">物业设施</a></li>
        </ul>
    </div>
    <div class="span8 offset1">
        <form class="form-horizontal" method="GET">
            <fieldset>
                <legend>
                    查询新闻
                </legend>
            </fieldset>
        </form>
    </div>
</div>