#{extends 'admin.html' /}
#{if model == null }
#{set title:'创建用户' /}
#{/if}#{else}
#{set title:'修改用户' /}
#{/else}
<div class="row">
    <form class="form-horizontal" method="POST">
        <fieldset>
            <legend>
                #{if model==null}
                创建用户
                #{/if} #{else}
                修改用户
                #{/else}
            </legend>
            <div class="control-group">
                <label for="LoginName" class="control-label">登录名称: </label>
                <input type="text" id="LoginName" name="u.LoginName"
                        #{if model!=null}
                        value="${model.LoginName}"
                        #{/if}
                        />*
                <span class="help-inline"></span>
            </div>
            <div class="control-group">
                <label for="Password" class="control-label">密码: </label>
                <input type="password" id="Password" name="u.Password" /> #{if model==null}
                *
                #{/if}#{else}
                如果不修改密码，请将密码留空
                #{/else}
                <span class="help-inline"></span>
            </div>
            <div class="control-group">
                <label for="PasswordRepeat" class="control-label">重复密码: </label>
                <input type="password" id="PasswordRepeat" /> *
                <span class="help-inline"></span>
            </div>
            <div class="control-group">
                <label for="Email" class="control-label">电子邮箱: </label>
                <input type="text" id="Email" name="u.Email" #{if model!=null }
                value="${model.Email}"
                #{/if} /> *
                <span class="help-inline"></span>
            </div>
            <div class="control-group">
                <label for="UserNumber" class="control-label">工号: </label>
                <input type="text" id="UserNumber" name="u.UserNumber" #{if model!=null }
                value="${model.UserNumber}"
                #{/if}
                />*
                <span class="help-inline"></span>
            </div>
            <div class="control-group">
                <label for="RealName" class="control-label">真实姓名: </label>
                <input type="text" id="RealName" name="u.RealName" #{if model!=null}
                value="${model.RealName}"
                #{/if}
                />
                <span class="help-inline"></span>
            </div>

            <div class="control-group">
                <label for="IsMale" class="control-label">性别: </label>
                <select id="IsMale" name="u.IsMale">
                    <option value="true" #{if model!=null && model.IsMale} selected  #{/if}>男</option>
                    <option value="false" #{if model!=null && !model.IsMale} selected #{/if}>女</option>
                </select>
            </div>

            <div class="control-group">
                <label for="Department" class="control-label">部门名称</label>
                <input type="text" id="Department" name="u.Department" #{if model!=null}  value="${model.Department}" #{/if} />
                <span class="help-inline"></span>
            </div>

            <div class="control-group">
                <label for="Telephone" class="control-label">联系电话: </label>
                <input type="text" id="Telephone" name="u.Telephone" #{if model!=null} value="${model.Telephone}"#{/if} />
                <span class="help-inline"></span>
            </div>

            <div class="control-group">
                <label for="Mobile" class="control-label">联系手机: </label>
                <input type="text" id="Mobile" name="u.Mobile" #{if model!=null} value="${model.Mobile}" #{/if}/>
                <span class="help-inline"></span>
            </div>

            <div class="control-group">
                <label for="UserRole" class="control-label">角色: </label>
                <select id="UserRole" name="RoleId">
                    %{for(r in roles){ }%
                    <option value="${r.id}" #{if model!=null && model.UserRole.id == r.id }selected  #{/if}>${r.Name}</option>
                    %{}}%
                </select>
            </div>
            <input type="submit" class="btn btn-info" value="创建" style="margin-left:300px;" />
        </fieldset>
    </form>
</div>
#{js 'admin/user/create.js' /}