#{extends 'main.html' /}

<div class="row-fluid">
    <div class="span3 well">
        <ul class="nav nav-list" >
            <li id="nav_user_list"><a href="@{AdminUser.list}"><i class="icon-user"></i>用户管理</a></li>
            <li id="nav_role_list"><a href="@{AdminRole.list}"><i class="icon-list-alt"></i>角色管理</a></li>
            <li class="divider"></li>
            <li id="nav_airportResource_list"><a href="@{AdminAirportResource.list}"><i class="icon-th"></i>机场设施管理</a></li>
            <li id="nav_propertyResource_list"><a href="@{AdminPropertyResource.list}"><i class="icon-glass"></i>物业设施管理</a></li>
            <li class="divider"></li>
            <li id="nav_airCompany_list"><a href="@{AdminAirCompany.list}"><i class="icon-folder-close"></i>航空公司管理</a></li>
            <li id="nav_airport_list"><a href="@{AdminAirport.list}"><i class="icon-map-marker"></i>机场管理</a></li>
            <li id="nav_airlinePlan_list"><a href="@{AdminAirlinePlan.list}"><i class="icon-plane"></i>航班计划管理</a></li>
            <li id="nav_airlineStatus_list"><a href="@{AdminAirlineStatus.list}"><i class="icon-plane"></i>航班状态管理</a></li>
            <li class="divider"></li>
            <li id="nav_news_list"><a href="@{AdminNews.list}"><i class="icon-pencil"></i>新闻管理</a></li>
        </ul>
    </div>
    <div class="span8 offset1">
        #{doLayout /}
    </div>
</div>
<script type="text/javascript">
require(["admin/active"],function(act){
    $(function(){
        act("admin_nav")
    })
    })
</script>