#{extends 'main.html' /}

#{set 'moreStyles'}
#{include_css 'bootstrap.min.css' /}
#{include_css 'bootstrap-responsive.min.css' /}
#{/set}


<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">ASIMS</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="#">首页</a></li>
                    <li class="active"><a href="#">后台</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row-fluid">
        <div class="span2 well">
            <ul class="nav nav-list" >
                <li class="nav-header">机场操作</li>
                <li id="nav_airport_list"><a href="@{AdminAirport.list}"><i class="icon-list-alt"></i>查询</a></li>
                <li id="nav_airport_create"><a href="@{AdminAirport.create}"><i class="icon-plus"></i>新增</a></li>
            </ul>
        </div>
        <div class="offset1 span8">
            #{doLayout /}
        </div>
    </div>
</div>