#{extends 'main.html' /}

#{set 'moreStyles'}
#{include_css 'bootstrap.min.css' /}
#{include_css 'bootstrap-responsive.min.css' /}
#{/set}


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">ASIMS</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="#">首页</a></li>
                    <li class="active"><a href="#">后台</a></li>
                </ul>
                <ul class="nav pull-right">
                    #{if user!=null}
                    <li><a href="#">您好，${user.LoginName}</a></li>
                    <li><a href="@{Secure.logout()}">注销</a> </li>
                    #{/if}#{else}
                    <li><a href="@{Secure.login()}"></a></li>
                    #{/else}
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="container" style="padding-top: 60px;">
    <div class="row-fluid">
        <div class="span2 well">
            <ul class="nav nav-list" >
                <li class="nav-header">用户</li>
                <li id="nav_user_list"><a href="@{AdminUser.list}"><i class="icon-list-alt"></i>查询</a></li>
                <li id="nav_user_create"><a href="@{AdminUser.create}"><i class="icon-plus"></i>新增</a> </li>
                <li class="nav-header">机场操作</li>
                <li id="nav_airport_list"><a href="@{AdminAirport.list}"><i class="icon-list-alt"></i>查询</a></li>
                <li id="nav_airport_create"><a href="@{AdminAirport.create}"><i class="icon-plus"></i>新增</a></li>
                <li class="nav-header">航线计划操作</li>
                <li id="nav_airlinePlan_list"><a href="@{AdminAirlinePlan.list}"><i class="icon-list-alt"></i>查询</a></li>
                <li id="nav_airlinePlan_create"><a href="@{AdminAirlinePlan.create}"><i class="icon-plus"></i>新增</a></li>
                <li class="nav-header">航空公司操作</li>
                <li id="nav_airCompany_list"><a href="@{AdminAirCompany.list}"><i class="icon-list-alt"></i>查询</a></li>
                <li id="nav_airCompany_create"><a href="@{AdminAirCompany.create}"><i class="icon-plus"></i>新增</a></li>
                <li class="nav-header">角色操作</li>
                <li id="nav_role_list"><a href="@{AdminRole.list}"><i class="icon-list-alt"></i>查询</a></li>
                <li id="nav_role_create"><a href="@{AdminRole.create}"><i class="icon-plus"></i>新增</a></li>
                <li class="nav-header">机场设施</li>
                <li id="nav_airportResource_list"><a href="@{AdminAirportResource.list}"><i class="icon-list-alt"></i>查询</a></li>
                <li id="nav_airportResource_create"><a href="@{AdminAirportResource.create}"><i class="icon-plus"></i>新增</a></li>
                <li class="nav-header">物业设施</li>
                <li id="nav_propertyResource_list"><a href="@{AdminPropertyResource.list}"><i class="icon-list-alt"></i>查询</a></li>
                <li id="nav_propertyResource_create"><a href="@{AdminPropertyResource.create}"><i class="icon-plus"></i>新增</a> </li>
            </ul>

        </div>
        <div class="span9 offset1">
            #{doLayout /}
        </div>
    </div>
</div>