<!DOCTYPE html>
<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    #{get 'moreStyles' /}
    #{include_css 'bootstrap.min.css' /}
    #{include_css 'bootstrap-responsive.min.css' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    #{jso 'jquery.min.js'/}
    #{jso 'bootstrap.min.js'/}
    #{js 'require.js' /}
    <script type="text/javascript">
        requirejs.config({
        baseUrl:"@{'/public/javascripts/'}"
        })
    </script>
    #{get 'moreScripts' /}
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">ASIMS</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="@{Application.index}">首页</a></li>
                        <li class="dropdown" id="plan_nav">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                航班查询<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" >
                                <li><a href="@{AirlineQuery.list(type:'0')}">国内到港</a></li>
                                <li><a href="@{AirlineQuery.list(type:'1')}">国内离港</a></li>
                                <li><a href="@{AirlineQuery.list(type:'2')}">国际到港</a></li>
                                <li><a href="@{AirlineQuery.list(type:'3')}">国际离港</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" id="news_nav">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                新闻中心<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href='@{NewsCenter.list(null,null,"airport_description",null,null,null)}'>机场介绍</a></li>
                                <li><a href='@{NewsCenter.list(null,null,"airline_info",null,null,null)}'>航班信息</a></li>
                                <li><a href='@{NewsCenter.list(null,null,"airport_resource",null,null,null)}'>机场资源</a></li>
                                <li><a href='@{NewsCenter.list(null,null,"property_resource",null,null,null)}'>物业资源</a></li>
                                <li class="divider"></li>
                                <li><a href="@{NewsCenter.subscribe}">订阅新闻</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            后台<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li ><a href="@{AdminUser.list}"><i class="icon-user"></i>用户管理</a></li>
                            <li ><a href="@{AdminRole.list}"><i class="icon-list-alt"></i>角色管理</a></li>
                            <li class="divider"></li>
                            <li ><a href="@{AdminAirportResource.list}"><i class="icon-th"></i>机场设施管理</a></li>
                            <li ><a href="@{AdminPropertyResource.list}"><i class="icon-glass"></i>物业设施管理</a></li>
                            <li class="divider"></li>
                            <li ><a href="@{AdminAirCompany.list}"><i class="icon-folder-close"></i>航空公司管理</a></li>
                            <li ><a href="@{AdminAirport.list}"><i class="icon-map-marker"></i>机场管理</a></li>
                            <li ><a href="@{AdminAirlinePlan.list}"><i class="icon-plane"></i>航班计划管理</a></li>
                            <li ><a href="@{AdminAirlineStatus.list}"><i class="icon-plane"></i>航班状态管理</a></li>
                            <li class="divider"></li>
                            <li ><a href="@{AdminNews.list}"><i class="icon-pencil"></i>新闻管理</a></li>
                        </ul>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        #{if user!=null}
                        <li><a href="#">您好，${user.LoginName}</a></li>
                        <li><a href="@{Secure.logout()}">注销</a> </li>
                        #{/if}#{else}
                        <li><a href="@{Secure.login()}"></a></li>
                        #{/else}
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 60px; padding-bottom: 60px;">
        #{doLayout /}

    </div>
    <div class="navbar navbar-fixed-bottom" style="margin-bottom:0;">
        <div class="navbar-inner">
            <div class="container">
                <div class="row">
                    <div class="span12 text-center">
                        <p>GPL License, Fork Me On Github!</p>
                    </div>
                    <div class="span12 text-center">
                        <p><a href="">隐私权</a> | <a href="">&copy;版权</a> | <a href="">法律声明</a> | <a href="">电子邮件：admin@163.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
